<div class="list row">
    <div class="col-md-6">
        <div class="row">
            <h2>Scenarii: </h2>
            <button class="m-3 btn btn-success"
            routerLink="/create-scenario">
                <fa-icon [icon]="plus_icon"></fa-icon>
            </button>
        </div>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let scenario of scenarii; let i = index">
                <div (click)="goToScenario(i)">
                    {{ scenario.title }}
                </div>
                <button class="btn btn-danger" (click)="deleteScenario(i)">
                    <fa-icon [icon]="delete_icon"></fa-icon>
                </button>
            </li>
        </ul>
    </div>
</div>
