<div class="row">
    <div class="col-md-10">
        <h2>{{scenario.title}}</h2>
    </div>
    <div class="col-md-1">
        <button class="m-3 btn btn-primary" (click)="modify()"><fa-icon [icon]="fa_write"></fa-icon></button>
    </div>
</div>
<!--selected stage display-->
<div class="row">
    <div class="col-md-10">
        <h4>{{scenario.stages[sc_index].title}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <textarea readonly [(ngModel)]="scenario.stages[sc_index].description" rows="20">

        </textarea>
    </div>
</div>
<!--list of various stages-->
<div class="row">
    <div class="col-md-2 card" *ngFor="let stage of scenario.stages; let i=index" (click)="goToStage(i)">
        <div class="card-header">{{stage.title}}</div>
    </div>
</div>
